@model List<Person>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){ 
            App.Core.CreateTable("#estudiantes");
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col">
            <table id="estudiantes" class="table table-striped">
                <thead>
                    <tr>
                        <th>Id de estudiante</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha de entrada:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">
                                <a asp-controller="estudiantes" asp-action="ficha" asp-route-id="@item.PersonID">
                                    @item.PersonID
                                </a>
                            </td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.EnrollmentDate.Value.ToString("dd-MM-yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-6 text-right">
                <a  asp-controller="estudiantes" asp-action="nuevo" type="submit" class="btn btn-success">
                Nuevo
                </a>
            </div>
        </div>
    </div>
</div>